/* Navigation */

.nav-bar {
  background-color: #222222;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  z-index: 3;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #222222;
}

.nav-bar li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.nav-bar .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.nav-bar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.nav-bar .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav-bar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav-bar .menu-icon .navicon:before,
.nav-bar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav-bar .menu-icon .navicon:before {
  top: 5px;
}

.nav-bar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav-bar .menu-btn {
  display: none;
}

.nav-bar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.nav-bar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav-bar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav-bar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav-bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav-bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* 48em = 768px */
/*
@media (min-width: 48em) {
  .nav-bar li {
    float: left;
  }
  .nav-bar li a {
    padding: 20px 30px;
  }
  .nav-bar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav-bar .menu-icon {
    display: none;
  }
}
*/

/* Panels */

.panel {
  margin-top: 2rem;
  color: #747373;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.panel-footer, .panel-header {
  background-color: rgba(0,0,0,.03);
  background-color: #282828;
}

.panel-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.panel-footer {
  padding: .75rem 1.25rem;
  border-top: 1px solid rgba(0,0,0,.125);
}

.panel-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

/* Buttons and inputs */

.button {
  color: #bbb !important;
}

button, .button {
  margin: 0;
  height: 32px;
  text-align: center;
  display: inline-block;
  line-height: 0;
}

.active {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  border: 1px solid #82ed34 !important;
  color: #82ed34 !important;
}

/* UI colors and adjustments */


hr {
  color: #bbb;
  background-color: #bbb;
}

#map-card {
  padding: 0;
}


#main-container {
  background-color: #2e2e2e;
  min-width: 90%;
}

h2 {
  color: white;
}

h1 {
  color: #bbb;
}

p {
  color: #bbb;
  font-size: 14px;
}

#get-weather {
  margin: 1.5rem 0 2rem 0;
}

.weather.two.columns {
  width: 16.6%;
}

code {
  background: #3e3d3d !important;
}



.textarea .input {
  background-color: #bbb !important;
}

div {
  color: #bbb;
}

input, textarea {
  color: #bbb;
  background-color: #313131 !important;
}


